<form action="/admin/admin_profile" method="post">
<div class="abc">
   <div class="text-center">
    <img class="aaimg" src="/images/a.jpeg">
   </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Name</label><input name="name" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Gender</label>
      <select class="form-control" name="gender" >
        <option value="male">Male</option>
          <option value="female">Female</option>
      </select>
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Date of Birth</label><input name="dob" type="date" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Condact Number</label><input name="condact_number" type="number" maxlength="10" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">WhatsApp Number </label><input name="whatsapp_number" type="number" maxlength="10" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Religion</label><input name="religion" type="text" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">Community </label><input name="community" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Blood Group </label><input name="blood_group" type="text" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">Height </label><input name="height" type="number" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Weight</label><input name="weight" type="number" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">District </label><input name="district" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Taluk</label><input name="taluk" type="text" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">Village </label><input name="village" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Pincode</label><input name="pincode" type="number" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Name of Parent / Guardian  </label><input name="name_of_parent" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Parent's Contact Number </label><input name="parent_condact_number" type="number" maxlength="10" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Permanent Address  </label><textarea name="permanent_address" class="form-control" ></textarea>
    </div>
    <div class="col">
      <label class="af">Contact Address </label><textarea name="condact_address" class="form-control" ></textarea>
    </div></div>
    <div class="row ap">
    <div class="col">
      <b><label class="ah">Languages Known </label><br></b><br><br>
      <input name="language_known" value="English" type="checkbox"> &nbsp;<label class="af">English </label> 
      <input name="language_known" value="Hindi" type="checkbox">&nbsp;<label class="af">Hindi </label> 
      <input name="language_known" value="Malayalam" type="checkbox">&nbsp;<label class="af">Malayalam </label> 
       <input name="language_known" value="Others" type="checkbox">&nbsp;<label class="af">Others </label>
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Area of Interest </label><textarea name="area_of_intrest" class="form-control" ></textarea>
    </div>
    <div class="col">
      <label class="af">Hobbies</label><textarea name="hobbies" class="form-control" ></textarea>
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Prior Experience   </label><textarea name="prior_experience" class="form-control" ></textarea>
    </div>
    <div class="col">
      <label class="af">Cultural talents </label><textarea name="cultural_talents" class="form-control" ></textarea>
    </div></div>
    <div class="row ap">
    <div class="col">
      <b><label class="ah">Are you interested in camps</label></b><br><br>
      <input name="interested_in_camps" value="State" type="checkbox"> &nbsp;<label class="af">State </label> 
      <input name="interested_in_camps" value="National" type="checkbox">&nbsp;<label class="af">National </label> 
      <input name="interested_in_camps" value="International" type="checkbox">&nbsp;<label class="af">International </label> 
    </div>
    <div class="col">
      <img class="abimg" src="/images/b.jpeg">
    </div>
    </div>
<br>
    <button class="abutton">Update</button>

</div>
</form>