<table>
    <tr>
<td><select class="aaa">
        <option >University Name</option>
        <option >KTU</option>
       </select></td>
       
<td><button class="abutton1">View</button></td>
</tr>
</table>
<br><br><br>
<table class="table ">
  <thead >
    <tr>
      <th scope="col">Fund Type</th>
      <th scope="col">Amount</th>
      <th scope="col">Accountant</th>
      <th scope="col">Date</th>
    </tr>
    <tbody class="atd">
    <tr>
      <th scope="row">Anual Fund</th>
      <td>10000</td>
      <td>Hilal</td>
      <td>10/06/2000</td>
    </tr>

  </thead>
</table>