<div class="abc10">
    <br><br>
    <input class="m2" type="date">
<br><br>
<div class="col">
    <select class="m1 ">
        <option >Project Name</option>
        <option >Blood Donation</option>
       </select><br><br>
    </div><br>
    <div class="row ap">
    <div class="col">
      <input type="number" class="m3" placeholder="Year">
    </div>
    <div class="col">
      <input type="text" class="m4" placeholder="Category">
    </div></div>
      <div class="row ap" >
    <div class="col">
      <input type="number" class="m3" placeholder="Expence">
    </div>
    <div class="col">
      <input type="text" class="m4" placeholder="District">
    </div></div>
      <div class="row ap">
    <div class="col">
      <input type="text" class="m3" placeholder="Taluk">
    </div>
    <div class="col">
      <input type="text" class="m4" placeholder="Village">
    </div></div>
       <div class="row ap">
    <div class="col">
      <input type="text" class="m3" placeholder="Venue">
    </div>
    <div class="col">
      <input type="number" class="m4" placeholder="Hours">
    </div></div><br>
       <div class="row ap">
    <div class="col">
      <img class="pimg" src="/images/d.jpeg" alt="">
    </div>
    <div class="col">
      <img class="pimg1" src="/images/d.jpeg" alt="">
    </div></div>

    <textarea class="m" placeholder="   Description" ></textarea><br><br><br>
    
             <div class="form-check1">
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Manu Krishna</label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
  </div> <br>
            <div class="form-check1">
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Manu Krishna</label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
  </div><br>
  <div class="form-check1">
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Manu Krishna</label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
  </div><br>
  <div class="form-check1">
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Manu Krishna</label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
  </div>
    
    </div>


</div>
