<h4 class="ah ">Events </h4><br>
<table class="table">
  <thead >
    <tr>
      <th scope="col"></th>
      <th scope="col">Event Date</th>
      <th scope="col">Event Name</th>
      <th scope="col">Event Location</th>
      <th scope="col">  </th>
    </tr>
  </thead>
  <tbody class="atd">
    <tr>
      <th scope="row">1</th>
      <td>10/06/2000</td>
      <td>Hilal</td>
      <td>KTU</td>
      <td> <a href="/admin/approval_unicod_view"><button class="abutton">Delete</button></td></a>
    </tr>
   <tr>
      <th scope="row">1</th>
      <td>10/06/2000</td>
      <td>Hilal</td>
      <td>KTU</td>
      <td> <a href="/admin/approval_unicod_view"><button class="abutton">Delete</button></td></a>
    </tr>
</table>
<br><br>
<h4 class="ah ">News </h4><br>
<table class="table">
  <thead >
    <tr>
      <th scope="col"></th>
      <th scope="col"> Date</th>
      <th scope="col">Heading</th>
      <th scope="col">News</th>
      <th scope="col">  </th>
    </tr>
  </thead>
  <tbody class="atd">
    <tr>
      <th scope="row">1</th>
      <td>10/06/2000</td>
      <td>National Youth Policy</td>
      <td>wonderful</td>
      <td> <a href="#"><button class="abutton">Delete</button></td></a>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>10/06/2000</td>
      <td>National Youth Policy</td>
      <td>wonderful</td>
      <td> <a href="#"><button class="abutton">Delete</button></td></a>
    </tr>

</table>