<div class="abc4 ">
    <form action="/admin/admin_index" method="post">
    <b><label class="ah">ADD EVENTS</label><br></b><br><br><br>
     <table class="at">
             <tr><td><label class="af">Event Date</label></td><td><input name="event date" class="aba" type="date" class="form-control" ></td></tr><br><br>

     <tr><td><label class="af">Event Name</label></td><td><input name="event name" class="aba" type="text" class="form-control" ></td></tr><br><br>

     <tr><td><label class="af">Event Location</label></td><td><input name="event location" class="aba" type="text" class="form-control" ></td></tr><br><br>
</table><br><br>

<button  class="abutton2">ADD</button>
    </div></form>
<br><br>
<div class="abc4 ">
    <form action="/admin/admin_index" method="post">
    <b><label class="ah">ADD NEWS</label><br></b><br><br><br>
     <table class="at">
             <tr><td><label class="af"> Date</label></td><td><input name="date" class="aba" type="date" class="form-control" ></td></tr><br><br>

     <tr><td><label class="af">Heading</label></td><td><input name="heading" class="aba" type="text" class="form-control" ></td></tr><br><br>

     <tr><td><label class="af">News</label></td><td><input name="news" class="aba" type="text" class="form-control" ></td></tr><br><br>
</table><br><br>

<button  class="abutton2">ADD</button>
    </div>

</form>
