<table>
    <tr>
<td><select class="aa">
        <option >Enrolment year</option>
        <option >2021</option>
       </select></td>
    <td><select class="aa">
        <option >University </option>
        <option >KTU</option>
       </select></td>
       
<td><button class="abutton1">View</button></td>
</tr>
</table>
<br><br><br>
<table class="table">
  <thead >
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Institute Name</th>
      <th scope="col">  </th>
    </tr>
  </thead>
  {{#each data}}
  <tbody class="atd">
    <tr>
      <th scope="row">1</th>
      <td><img class="dimg" src="/images/photo/{{this._id}}.jpg"></td>
      <td>{{this.name}}</td>
      <td>{{this.institute_name}}</td>
      <td> <a href="/admin/admin_po_view/{{this._id}}"><button class="abutton1">more</button></td></a>
    </tr>
   
   {{/each}}

</table>