<table>
    <tr>
<td><select class="aa">
        <option >University Name</option>
        <option >KTU</option>
       </select></td>
    <td><select class="aa">
        <option >Collage Name</option>
        <option >AWH</option>
       </select></td>
       
<td><button class="abutton1">View</button></td>
</tr>
</table>
<br><br><br>
<table class="table">
  <thead >
    <tr>
      <th scope="col"></th>
      <th scope="col">Project Name</th>
      <th scope="col">Collage Name</th>
      <th scope="col">  </th>
    </tr>
  </thead>
  <tbody class="atd">
      {{#each data}}
    <tr>
      <th scope="row">1</th>
      <td><img class="dimg" src="/images/project/{{this.pr.[0]}}.jpg"></td>
      <td>{{this.project_name}}</td>
      <td>{{this.ins}}</td>
      
      <td> <a href="/admin/admin_project_report_view/{{this._id}}"><button class="abutton">more</button></td></a>
    </tr>
    {{/each}}
    

</table>