<h3 class="ah">Feedback </h3><br>
<table class="table ">
  <thead >
    <tr>
      <th scope="col">Name</th>
      <th scope="col">University</th>
      <th scope="col">Collage</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
  <tbody class="atd">
     {{#each data}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.university_name}}</td>
      <td>{{this.institute_name}}</td>
      <td>{{this.description}}</td>
    </tr>
     {{/each}}
</table><br><br>

