<table class="table">
  <thead >
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">University Name</th>
      <th scope="col">  </th>
    </tr>
  </thead>
  <tbody class="atd">
    {{#each data}}
    <tr>
      <th scope="row">1</th>
      <td><img class="dimg" src="/images/photo/{{this._id}}.jpg"></td>
      <td>{{this.name}}</td>
      <td>{{this.university_name}}</td>
      <td></td>
      <td> <a href="/admin/approval_unicod_view/{{this._id}}"><button class="abutton">more</button></td></a>
    </tr>
    {{/each}}
    

</table>