<div class="abc1">
  {{#if data}}
  <div class="text-center">
    <img class="aaimg" src="/images/a.jpeg">
  </div>
  <div>
    <h3 class="ah">University details </h3>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">University Name</label><input readonly type="text" value="{{data.university_name:}}"
        class="form-control">
    </div>
    <div class="col">
      <label class="af">State</label><input type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">University Address </label><textarea class="form-control"></textarea>
    </div>
    <div class="col">
      <label class="af">State</label><input type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Pincode</label><input type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Contact Number</label><input type="text" class="form-control">
    </div>
  </div>
  <div>
    <h3 class="ah">Bank Details</h3>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Bank Name</label><input type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">A/c Number</label><input type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">IFSC Code</label><input type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Branch Name</label><input type="text" class="form-control">
    </div>
  </div>
  <div>
    <h3 class="ah">Personal Details</h3>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Name</label><input readonly type="text" value="{{data.name}}" class="form-control">
    </div>
    <div class="col">
      <label class="af">Gender</label><input type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Date of Birth</label><input type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Condact Number</label><input type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">WhatsApp Number </label><input type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Religion</label><input type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Community </label><input type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Blood Group </label><input type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Height </label><input type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Weight</label><input type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">District </label><input type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Taluk</label><input type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Village </label><input type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Pincode</label><input type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Name of Parent / Guardian </label><input type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Parent's Contact Number </label><input type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Permanent Address </label><textarea class="form-control"></textarea>
    </div>
    <div class="col">
      <label class="af">Contact Address </label><textarea class="form-control"></textarea>
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <b><label class="ah">Languages Known </label><br></b><br><br>
      <input type="checkbox"> &nbsp;<label class="af">English </label>
      <input type="checkbox">&nbsp;<label class="af">Hindi </label>
      <input type="checkbox">&nbsp;<label class="af">Malayalam </label>
      <input type="checkbox">&nbsp;<label class="af">Others </label>
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Area of Interest </label><textarea class="form-control"></textarea>
    </div>
    <div class="col">
      <label class="af">Hobbies</label><textarea class="form-control"></textarea>
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Prior Experience </label><textarea class="form-control"></textarea>
    </div>
    <div class="col">
      <label class="af">Cultural talents </label><textarea class="form-control"></textarea>
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <b><label class="ah">Are you interested in camps</label><br></b><br><br>
      <input type="checkbox"> &nbsp;<label class="af">State </label>
      <input type="checkbox">&nbsp;<label class="af">National </label>
      <input type="checkbox">&nbsp;<label class="af">International </label>
    </div>
    <div class="col">
      <img class="abimg" src="/images/b.jpeg">
    </div>
  </div>


  <div class="row ap">
    <form action="/admin/accept/{{data._id}}" method="post">
      <div class="col">
        <input class="abutton" type="submit"  value="accept" >
      </div></form>
      <form action="/admin/reject/{{data._id}}" method="post">
      <div class="col">
        <input class="abutton" type="submit"  value="reject" >
      
      </div>
    </form>
  </div>



  {{/if}}
</div>