<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
<style>
   


</style>
</head>

<div>
    
<div class="na" >
    <a class="h"> UNIVERSITY COORDINATOR</a>
    <img class="ilogo2"  src="/images/logo.png">
<div class="ab">
    {{{body}}}</div>
</div>
<div class="shadow1"><b>
    <img class="acimg" src="/images/a.jpeg"><br>
    <a href="/unicod">MANU KRISHNA A P</a><br><br>
    <a href="/unicod/unicod_profile">Manage Profile</a><br>  
    <a href="/unicod/approval_po">Approval</a><br> 
    <a href="#">ACCOUNTS</a><br> 
    <i><a href="/unicod/unicod_account">fund transfer</a></i><br>
    <i><a href="/unicod/unicod_account_view">view transfer</a></i><br>
    <a href="#">ENROLMENT LIST</a><br> 
   <i> <a href="/unicod/unicod_po_views">Program Officer</a><br>
    <a href="/unicod/unicod_volunteer_views">Volunteers</a><br></i>
    <a href="#">Reports</a><br> 
    <a href="/unicod/unicod_message">Messaging</a><br> 
    <a href="/unicod/unicod_feedback">Feedback</a><br> 
    <a href="#">Log Out </a><br><br> 
    <a href="#"></a><br> </b>
</div>

    
    </body>
