<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
<style>
   


</style>
</head>

<div>
    
<div class="na" >
    <a class="h"> UNIVERSITY COORDINATOR</a>
    <img class="ilogo2"  src="/images/logo.png">
<div class="ab">
    {{{body}}}</div>
</div>
<div class="shadow1"><b><center>
    <img class="acimg" src="/images/photo/{{unicod_details._id}}.jpg"><br>
    <a href="/unicod">{{unicod_details.name}}</a><br><br></center>
    
    <a class="nav-link collapsed" href="/unicod/unicod_profile">
          <i class="bi bi-person"></i>
          <span>Manage Profile</span></a>
        <a class="nav-link collapsed" href="/unicod/approval_po">
          <i class="bi bi-person"></i>
          <span>Approval</span></a>
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Accounts</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <a href="/unicod/unicod_account">
              <i class="bi bi-circle"></i><span>Fund Transfer</span></a><br>
            <a href="/unicod/unicod_account_view">
              <i class="bi bi-circle"></i><span>View Transfer</span></a></ul>
               <a class="nav-link collapsed" data-bs-target="#components-nav1" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Enrolment List</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
        <ul id="components-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <a href="/unicod/unicod_po_views">
              <i class="bi bi-circle"></i><span>Program Officer</span></a><br>
              <a href="/unicod/unicod_volunteer_views">
              <i class="bi bi-circle"></i><span>Volunteers</span></a></ul>
               <a class="nav-link collapsed" data-bs-target="#components-nav7" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Blocking</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
        <ul id="components-nav7" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <a href="/unicod/unicod_block">
              <i class="bi bi-circle"></i><span>Block</span></a><br>
            <a href="/unicod/unicod_unblock">
              <i class="bi bi-circle"></i><span>Unblock</span></a></ul>
          <a class="nav-link collapsed" data-bs-target="#components-nav2" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
        <ul id="components-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <a href="/unicod/unicod_project_report_views">
              <i class="bi bi-circle"></i><span>Project Report</span></a><br>
            <a href="/unicod/unicod_camp_report_views">
              <i class="bi bi-circle"></i><span>Camp Report</span></a></ul>

    <a class="nav-link collapsed" href="/unicod/unicod_message">
          <i class="bi bi-person"></i>
          <span>Messaging</span></a>
        <a class="nav-link collapsed" href="/unicod/unicod_feedback">
          <i class="bi bi-person"></i>
          <span>Feedback</span></a>
          <a class="nav-link collapsed" href="#">
          <i class="bi bi-person"></i>
          <span>Log Out</span></a>
    <a href="#"></a><br> </b>
</div>

    
    </body>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


   