<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/admin.css">
  </head>
  <body>
    {{#if adminroute}}
    {{>adminpartial}}
    {{/if}}
    {{!-- {{{body}}} --}}
  </body>
</html>
