.na {
    display: block;
    margin-top: 20px;
    height: 50px;
    box-shadow: 1px 2px 2px 1px;    
    background-color: #8F94BC;
  }
  .na1 {
    display: block;
    margin-top: 20px;
    height: 50px;
    box-shadow: 1px 2px 2px 1px;    
    background-color: #8F94BC;
    display: flex;
    text-decoration: none;
  }

  .fa{
    color: #fff5f5;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: 150px;
    font-size: x-large;
  }
  .shadow1{
      box-shadow: 1px 2px 3px 1px;
      width: 220px;
      height: auto;
      text-align: left;
      line-height: 35px;    
  }


  .ilogo{
    height: 50px;
    padding-left: 500px     ;
  }
  .h{
    margin-left: 600px;
    font-style: italic;
    font-size: x-large;
  }

  .ab{
    margin-top: 130px;
    margin-left: 350px;

  }

  .abc{
    width: 750px;
      height:1550px ;
      background-color: #D8D9E7;
      margin-left: 50px;
      line-height: 5px;
      border-radius: 30px;
  }
.p{
  width: 50px;
  height: 100px;
}
  
  .abc1{
    width: 750px;
      height:2300px ;
      background-color: #D8D9E7;
      margin-left: 50px;
      line-height: 5px;
      border-radius: 30px;
  }
 

  .abc2{
    width: 350px;
      height:350px ;
      background-color: #D8D9E7;
      margin-left: 50px;
      line-height: 20px;
      border-radius: 30px; 
  }
  .abc3{
    width: 550px;
      height:400px ;
      background-color: #D8D9E7;
      margin-left: 50px;
      line-height: 20px;
      border-radius: 30px;
      align-items: center; 
  }
  .abc4{
    width: 600px;
      height:300px ;
      background-color: #D8D9E7;
      margin-left: 90px;
      line-height: 20px;
      border-radius: 30px;
  }
  .abc5{
    width: 600px;
      height:35px ;
      background-color: #ffffff;
     margin-top: 20px;
     box-shadow: 1px 2px 3px 1px;
     border-radius: 10px;
  }
  
  .abc6{
    width: 550px;
      height:200px ;
      background-color: #ffffff;
     margin-top: 20px;
     margin-left: 30px;
     box-shadow: 1px 2px 3px 1px;
     border-radius: 10px;
  }
  .abc7{
    width: 650px;
      height:1750px ;
      background-color: #D8D9E7;
      margin-left: 120px;
      line-height: 20px;
      border-radius: 30px;
      align-items: center;   
  }
  .abc8{
    width: 650px;
      height:800px ;
      background-color: #D8D9E7;
      margin-left: 120px;
      line-height: 20px;
      border-radius: 30px;
      align-items: center;   
  }

  .abc9{
    width: 650px;
      height:500px ;
      background-color: #D8D9E7;
      margin-left: 120px;
      line-height: 20px;
      border-radius: 30px;
      align-items: center;   
  }
  .abc10{
    width: 650px;
      height:1250px ;
      background-color: #D8D9E7;
      margin-left: 120px;
      line-height: 20px;
      border-radius: 30px;
      align-items: center;   
  }
  .abc11{
    width: 650px;
      height:3300px ;
      background-color: #D8D9E7;
      margin-left: 120px;
      line-height: 20px;
      border-radius: 30px;
      align-items: center;   
  }
  .abc12{
    width: 650px;
      height:3900px ;
      background-color: #D8D9E7;
      margin-left: 120px;
      line-height: 20px;
      border-radius: 30px;
      align-items: center;   
  }

  .abc13{
    width: 550px;
      height:600px ;
      background-color: #D8D9E7;
      margin-left: 50px;
      line-height: 20px;
      border-radius: 30px;
      align-items: center; 
  }

  .ap{
    padding:  20px;
    width: 750px;
    margin-left: 30px;
    border-radius: 20px;

    
  }
  .af {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
  
.abutton{
    background-image: linear-gradient(to right, #006175 0%, #303983 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #ededed;
    display: block;
    height: 30px;
    font-size: 1em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 6em;
    z-index: 2;
    margin-left: 300px;
  }
  .abutton1{
    background-image: linear-gradient(to right, #006175 0%, #303983 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #ededed;
    display: block;
    height: 40px;
    width: 80px;
    font-size: 1em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 6em;
    z-index: 2;
    margin-left: 40px;
  }
  .abutton2{
    background-image: linear-gradient(to right, #006175 0%, #303983 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #ededed;
    display: block;
    height: 30px;
    font-size: 1em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 6em;
    z-index: 2;
    margin-left: 250px;
  }
  .aaimg{
    height: 150px;
    width: 150px;
    border-radius: 5000px;
    margin-top: 40px;
  }
  .aaimg1{
    height: 100px;
    width: 100px;
    border-radius: 5000px;
    margin-top: 40px;
  }

  .aaimg2{
    height: 70px;
    width: 70px;
    border-radius: 5000px;
    margin-top: 40px;
    margin-bottom: 20px;
   
  }

  .abimg{
    height: 80px;
    width: 200px;
    margin-left: 50px;
  }

  .acimg{
    height: 50px;
    width: 50px;
    border-radius: 5000px;
    margin-top: 40px;
  }
  .acimg1{
    height: 50px;
    width: 50px;
    border-radius: 5000px;
  }

.pimg{
    height: 150px;
    width: 250px;
    margin-left: 20px;
}
.pimg1{
  height: 150px;
  width: 250px;
  margin-right: 120px;
}

  .atd{
    color: #000000;
    background-color:#8F94BC ;
  }

  .atr{
    color: #01225f;
    background-color:#8F94BC ;
  }

  .dimg{
    height: 50px;
    width: 50px;
    border-radius: 5000px;
  }

.ah{
  margin-left: 20px;
  margin-top: 20px;
  color: #303983;
}

.ah1{
  margin-left: 20px;
  color: #303983;
}

.am{
  
  width: 600px;
  height: 40px;
  margin-left: 40px;
 
}
 
.aba{
  width: 300px;
  height: 40px;
  margin-left: 40px;
}
  .abb{
    width: 300px;
    height: 80px;
    margin-left: 40px;
 
}
.at{
    margin-top: -10rem;
    margin-left: 3.5rem;
    line-height: 30px;
    
}
.aaa{
  width: 500px;
  height: 40px;
  margin-left: 40px;
  border-radius: 30px;
  box-shadow: 1px 2px 3px 1px;
}

.aa{
  width: 200px;
  height: 40px;
  margin-left: 40px;
  border-radius: 30px;
  box-shadow: 1px 2px 2px 1px;
}

.ata{
  width: 200px;
}

.abaa{
  width: 400px;
  height: 40px;
  margin-left: 40px;
}
.abbb{
  width: 400px;
  height: 80px;
  margin-left: 40px;
}

.m{
  width: 580px;
  height: 200px;
  margin-left: 20px;
  border-radius: 20px;
}
.m1{
  width: 500px;
  height: 40px;
  margin-left: 50px;
  border-radius: 20px;
}
.m2{
  width: 130px;
  height: 40px;
  margin-left: 450px;
  border-radius: 20px;
}
.m3{
  width: 230px;
  height: 40px;
  border-radius: 20px;
  margin-left: 30px;
}
.m4{
  width: 230px;
  height: 40px;
  border-radius: 20px;
  margin-left: -30px;
}
.m5{
  width: 300px;
  height: 40px;
  border-radius: 20px;
  margin-left: 25px;
  border-style: solid;
}

.form-check1 {
  position: relative;
  display: block;
  padding-left: 20px;
  margin-left: 10px;

}
.form-check-input1 {
  position: absolute;
  margin-top: 0.9rem;
  margin-left: -1.1rem;
}
.l{
  list-style: none;
}

.iimg{
  margin-top: 2px;
  width: 1420px;
}