.ilogo2{
    height: 50px;
    padding-left: 400px     ;
  }

  .att{
   margin-bottom: 50px;
    margin-left: 50px;  
}
.abc4{
  width: 900px;
    height:400px ;
    background-color: #D8D9E7;
    margin-left: 70px;
    line-height: 20px;
    border-radius: 30px;
}
.abc5{
  width: 900px;
    height:40px ;
    background-color: #b86a6a;
   margin-top: 20px;
}

