.ilogo2{
    height: 50px;
    padding-left: 400px     ;
  }

  .att{
   margin-bottom: 50px;
    margin-left: 50px;  
}
.att1{
  margin-top: -550px;
   margin-left: 50px;  
}

.w1{
  margin-left: 20px;
}
.w2{
  margin-left: 130px;
}
.w3{
  margin-left: 150px;
}
