<div class="mainDiv">
   <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam cupiditate modi praesentium quo, earum excepturi consequatur officiis ipsum hic aspernatur quaerat ipsam alias voluptas vero iure dolore esse provident? Dolorem.
    </div>
    <div>
        <textarea name=""  id="" cols="30" rows="10"></textarea>
    </div>
</div>