<div class="abc4"><b>
    <div class="abc5">
        <a class="w1">Pree RD Camp</a>
        <a class="w2">24 hrs</a>
        <a class="w3">12/03/2023</a>
    </div></b>
    <div class="abc6"></div>
</div>