<div class="abc">
   <div class="text-center">
    <img class="aaimg" src="/images/a.jpeg">
   </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Name</label><input type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Gender</label><input type="text" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Date of Birth</label><input type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Condact Number</label><input type="text" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">WhatsApp Number </label><input type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Religion</label><input type="text" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">Community </label><input type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Blood Group </label><input type="text" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">Height </label><input type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Weight</label><input type="text" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">District </label><input type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Taluk</label><input type="text" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">Village </label><input type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Pincode</label><input type="text" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Name of Parent / Guardian  </label><input type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Parent's Contact Number </label><input type="text" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Permanent Address  </label><textarea class="form-control" ></textarea>
    </div>
    <div class="col">
      <label class="af">Contact Address </label><textarea class="form-control" ></textarea>
    </div></div>
    <div class="row ap">
    <div class="col">
      <b><label class="ah">Languages Known </label><br></b><br><br>
      <input type="checkbox"> &nbsp;<label class="af">English </label> 
      <input type="checkbox">&nbsp;<label class="af">Hindi </label> 
      <input type="checkbox">&nbsp;<label class="af">Malayalam </label> 
       <input type="checkbox">&nbsp;<label class="af">Others </label>
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Area of Interest </label><textarea class="form-control" ></textarea>
    </div>
    <div class="col">
      <label class="af">Hobbies</label><textarea class="form-control" ></textarea>
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Prior Experience   </label><textarea class="form-control" ></textarea>
    </div>
    <div class="col">
      <label class="af">Cultural talents </label><textarea class="form-control" ></textarea>
    </div></div>
    <div class="row ap">
    <div class="col">
      <b><label class="ah">Are you interested in camps</label></b><br><br>
      <input type="checkbox"> &nbsp;<label class="af">State </label> 
      <input type="checkbox">&nbsp;<label class="af">National </label> 
      <input type="checkbox">&nbsp;<label class="af">International </label> 
    </div>
    <div class="col">
      <img class="abimg" src="/images/b.jpeg">
    </div>
    </div>
<br>
    <button class="abutton">Update</button>

</div>