<div class="abc3"><br>
<form action="/volunteer/volunteer_workdairy" method="post">
     <table class="att">
        <tr>
     <td><label class="af">Project Name</label></td>
       <td><select id="mySelect"  onchange="document.getElementById('prject_id').value = this.value;getSelectedOption()" class="aba">
          {{#each result}}
        <option value="{{this.id}}" >{{this.name}}</option>
        {{/each}}
        <script>
          function getSelectedOption() {
           
  var selectElement = document.getElementById("mySelect");
  var selectedOption = selectElement.options[selectElement.selectedIndex];
  var selectedOptionText = selectedOption.text;
 
  document.getElementById('project_name').value = selectedOptionText
}

        </script>
        <input type="text"  name="prject_id"  id="prject_id" hidden>
        <input type="text" id="project_name" name="project_name" hidden>
       </select></td></tr><br><br>
      <tr><td><label class="af">Date</label></td><td><input required name="date" class="aba"  type="date" class="form-control"></td></tr><br><br>
      <tr><td><label class="af">Hours</label></td><td><input required name="hours" class="aba"  type="number" class="form-control"></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea required name="description" class="abb" ></textarea></td></tr><br><br>
</table>

<button type="submit" class="abutton">Submit</button>
{{!--  --}}
<input type="text" name="user_id" value="{{volunteer_details.username}}" hidden>
{{!--  --}}
</form>
    </div>

