
{{#each data}}
<div class="abc4">
    
    <div class="abc5"><b>
        <a class="w1">{{this.project_name}}</a>
        <a class="w2">{{this.hours}}</a>
        <a class="w3">{{this.date}}</a>
    </div></b>
    <div class="abc6"> <p>{{this.description}}</p></div>

</div>
{{/each}}