<form action="/login" method="post">
    <div>
<div class="l1">
<div class="text-center">
    <img class="aaimg2" src="/images/logo.png"><br>
    <center><h4 >LOGIN</h4>
    <a style="color: red;">{{error}}</a></center>
   </div><br>
<form action="/login">
<input required name="username" type="email" class="m5" placeholder="Email"><br><br>
<input required name="password"  type="password" class="m5" placeholder="Password"><br><br>

<input  class="lck"  type="checkbox"><a>Remember me?</a><br><br>
 
 <button type="submit" class="btn">Login</button><br>
 

</div >
</form>
</div>
</form>