<head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<br><br><br>
<div class="abc1">
  <form action="/unicod_register" method="post" enctype="multipart/form-data">
   <div class="text-center">
    <img class="aaimg1" src="/images/logo.png"><br>
    <h4>UNIVERSITY COORDINATOR <br>REGISTRATION</h4>
   </div>
   {{!--  --}}
      <input  name="status" type="text" value="pending" hidden>
      <input  name="type" type="text" value="unicod" hidden  >
    {{!--  --}}
   <div >
    {{#if er}}<h4 style="color:red">{{er}}</h4><br>{{/if}}
    <h3 class="ah">University details </h3>
   </div>
   <div class="row ap">
    <div class="col">
      <label class="af">University Name</label><input required  name="university_name" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">State</label><input required name="state" type="text" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">University Address  </label><textarea required name="university_address" class="form-control" ></textarea>
    </div>
    <div class="col">
      <label class="af">District</label><input required name="district1" type="text" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Pincode</label><input required name="pincode" type="number" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Contact Number</label><input required name="contact_number1" type="number"  maxlength="10" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">Enroment Year</label><input required name="year" type="number" class="form-control" >
    </div>
    <div class="col">
    </div></div>
   <div >
    <h3 class="ah">Bank Details</h3>
   </div>
   <div class="row ap">
    <div class="col">
      <label class="af">Bank Name</label><input required name="bank_name" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">A/c Number</label><input required name="ac_number" type="number" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">IFSC Code</label><input required name="ifsc_code" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Branch Name</label><input required name="branch_name" type="text" class="form-control">
    </div></div>
    <div >
    <h3 class="ah">Login details </h3>
   </div>
   <div class="row ap">
    <div class="col">
      <label class="af">username</label><input required name="username" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Password</label><input required name="password" type="text" class="form-control">
    </div></div>
    <div >
      <div class="row ap">
    <div class="col">
      <label class="af">2 Step Verification Code</label><input required name="security_code" type="text" class="form-control" >
    </div>
    <div class="col"> </div></div>
   
    <div >
    <h3 class="ah">Personal Details</h3>
   </div>
   <div class="row ap">
    <div class="col">
      <label class="af">Name</label><input required name="name" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Gender</label>
      <select class="form-control" name="gender" >
        <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
      </select>
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Date of Birth</label><input required name="dob" type="date" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Contact Number</label><input required name="contact_number" type="number" maxlength="10" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">WhatsApp Number </label><input required name="whatsapp_number" type="number" maxlength="10" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Religion</label><input required name="religion" type="text" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">Community </label><input required name="community" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Blood Group</label>
      <select class="form-control" name="blood_group" >
        <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
      </select>
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">Height </label><input required name="height" type="number" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Weight</label><input required name="weight" type="number" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">District </label><input required name="district" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Taluk</label><input required name="taluk" type="text" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">Village </label><input required name="village" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Pincode</label><input required name="pincode1" type="number" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Name of Parent / Guardian  </label><input required name="name_of_parent" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Parent's Contact Number </label><input required name="parent_contact_number" type="number" maxlength="10" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Permanent Address  </label><textarea required name="permanent_address" class="form-control" ></textarea>
    </div>
    <div class="col">
      <label class="af">Contact Address </label><textarea required name="contact_address" class="form-control" ></textarea>
    </div></div>
        <div class="row ap">
    <div class="col">
<input required class="m3" type="file" name="photo">    </div>
    <div class="col">
<input required type="file" name="sign">    
</div></div>
<div class="row ap">
    <div class="col">
      <b><label class="ah">Languages Known </label><br></b><br><br>
      <input  name="language_known" value="English" type="checkbox"> &nbsp;<label class="af">English </label> 
      <input  name="language_known2" value="Hindi" type="checkbox">&nbsp;<label class="af">Hindi </label> 
      <input  name="language_known3" value="Malayalam" type="checkbox">&nbsp;<label class="af">Malayalam </label> 
        <input  name="language_known4" value="Others" type="checkbox">&nbsp;<label class="af">Others </label> 
       </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Area of Interest </label><textarea required name="area_of_intrest" class="form-control" ></textarea>
    </div>
    <div class="col">
      <label class="af">Hobbies</label><textarea required name="hobbies" class="form-control" ></textarea>
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Prior Experience   </label><textarea required name="prior_experience" class="form-control" ></textarea>
    </div>
    <div class="col">
      <label class="af">Cultural talents </label><textarea required name="cultural_talents" class="form-control" ></textarea>
    </div></div>
    <div class="row ap">
    <div class="col">
      <b><label class="ah">Are you interested in camps</label></b><br><br>
      <input  name="interested_in_camps" value="State" type="checkbox"> &nbsp;<label class="af">State </label> 
      <input  name="interested_in_camps1" value="National" type="checkbox">&nbsp;<label class="af">National </label> 
      <input  name="interested_in_camps2" value="International" type="checkbox">&nbsp;<label class="af">International </label> 
     </div>
    
    </div>
    <div class="row ap">
    <div class="col">
      <button type="submit" class="abutton">Submit</button>
    </div>
   </form>
    </div></div>

    
     

</div>