<div class="abc3"><br><br>
 <form action="/secretary/secretary_project/{{data._id}}" method="post" enctype="multipart/form-data">
     <table class="att">
        <tr>
     <td><label class="af">Project Name</label></td>
       <td><input required readonly name="project_name"  type="text" class="aba" value="  {{data.project_name}}" >
        </td></tr><br><br>
      <tr><td>
        {{!-- <label class="af">Photos</label> --}}
        </td><td>
          {{!-- <input required name="pr" class="aba"  type="file" >
       <input required name="pr"  type="file" class="aba "> --}}
       </td></tr><br><br><br><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea required name="description" class="abb" ></textarea></td></tr><br><br>
</table>

<input  type="submit" class="abutton">
<td><input  type="text" value="{{data._id}}" name="cid" hidden></td>
</form>
    </div>

