<div class="abc3"><br><br>
 <form action="/secretary/secretary_project" method="post">
     <table class="att">
        <tr>
     <td><label class="af">Project Name</label></td>
       <td><select name="project_name" class="aba">
        <option value="project name" >Project Name</option>
        <option value="blood donation" >Blood Donation</option>
       </select></td></tr><br><br>
      <tr><td><label class="af">Photos</label></td><td><input class="aba"  type="file" class="form-control">
       <input class="aba"  type="file" class="form-control"></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea name="description" class="abb" ></textarea></td></tr><br><br>
</table>

<button type="submit" class="abutton">Submit</button>
</form>
    </div>

