<div class="abc3"><br><br>
     <table class="att">
        <tr>
     <td><label class="af">Project Name</label></td>
       <td><select class="aba">
        <option >Project Name</option>
        <option >Blood Donation</option>
       </select></td></tr><br><br>
      <tr><td><label class="af">Photos</label></td><td><input class="aba"  type="file" class="form-control">
       <input class="aba"  type="file" class="form-control"></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea class="abb" ></textarea></td></tr><br><br>
</table>

<button class="abutton">Submit</button>

    </div>

