<div class="abc7">
   <form action="/secretary/secretary_camp/{{data._id}}" method="post" enctype="multipart/form-data">
     <table class="att1">
        <tr>
     <td><label class="af">Project Name</label></td>
       <td><select name="camp_name" class="abaa">
        <option value="pro" >Project Name</option>
        <option value="blood donation" >Blood Donation</option>
       </select></td></tr><br><br>
       <th><b><label class="ah">Day 1</label></b></th>
      <tr><td><label class="af">Photos</label></td><td><input name="cr" class="abaa"  type="file" >
       <input name="cr" class="abaa"  type="file" ></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea name="description_1" class="abbb" ></textarea></td></tr><br><br>
     <th><b><label class="ah">Day 2</label></b></th>
      <tr><td><label class="af">Photos</label></td><td><input name="cr" class="abaa"  type="file" >
       <input name="cr" class="abaa"  type="file" ></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea name="description_2" class="abbb" ></textarea></td></tr><br><br>
     <th><b><label class="ah">Day 3</label></b></th>
      <tr><td><label class="af">Photos</label></td><td><input name="cr" class="abaa"  type="file" >
       <input name="cr" class="abaa"  type="file" ></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea name="description_3" class="abbb" ></textarea></td></tr><br><br>
     <th><b><label class="ah">Day 4</label></b></th>
      <tr><td><label class="af">Photos</label></td><td><input name="cr" class="abaa"  type="file" >
       <input name="cr" class="abaa"  type="file" ></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea name="description_4" class="abbb" ></textarea></td></tr><br><br>
     <th><b><label class="ah">Day 5</label></b></th>
      <tr><td><label class="af">Photos</label></td><td><input name="cr" class="abaa"  type="file" >
       <input name="cr" class="abaa"  type="file" ></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea name="description_5" class="abbb" ></textarea></td></tr><br><br>
     <th><b><label class="ah">Day 6</label></b></th>
      <tr><td><label class="af">Photos</label></td><td><input name="cr" class="abaa"  type="file" >
       <input name="cr" class="abaa"  type="file" ></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea name="description_6" class="abbb" ></textarea></td></tr><br><br>
     <th><b><label class="ah">Day 7</label></b></th>
      <tr><td><label class="af">Photos</label></td><td><input name="cr" class="abaa"  type="file" >
       <input name="cr" class="abaa"  type="file" ></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea name="description_7" class="abbb" ></textarea></td></tr><br><br>

</table><br><br>

<button type="submit" class="abutton">Submit</button>
</form>
    </div>

