<div class="abc7">
     <table class="att1">
        <tr>
     <td><label class="af">Project Name</label></td>
       <td><select class="abaa">
        <option >Project Name</option>
        <option >Blood Donation</option>
       </select></td></tr><br><br>
       <th><b><label class="ah">Day 1</label></b></th>
      <tr><td><label class="af">Photos</label></td><td><input class="abaa"  type="file" class="form-control">
       <input class="abaa"  type="file" class="form-control"></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea class="abbb" ></textarea></td></tr><br><br>
     <th><b><label class="ah">Day 2</label></b></th>
      <tr><td><label class="af">Photos</label></td><td><input class="abaa"  type="file" class="form-control">
       <input class="abaa"  type="file" class="form-control"></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea class="abbb" ></textarea></td></tr><br><br>
     <th><b><label class="ah">Day 3</label></b></th>
      <tr><td><label class="af">Photos</label></td><td><input class="abaa"  type="file" class="form-control">
       <input class="abaa"  type="file" class="form-control"></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea class="abbb" ></textarea></td></tr><br><br>
     <th><b><label class="ah">Day 4</label></b></th>
      <tr><td><label class="af">Photos</label></td><td><input class="abaa"  type="file" class="form-control">
       <input class="abaa"  type="file" class="form-control"></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea class="abbb" ></textarea></td></tr><br><br>
     <th><b><label class="ah">Day 5</label></b></th>
      <tr><td><label class="af">Photos</label></td><td><input class="abaa"  type="file" class="form-control">
       <input class="abaa"  type="file" class="form-control"></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea class="abbb" ></textarea></td></tr><br><br>
     <th><b><label class="ah">Day 6</label></b></th>
      <tr><td><label class="af">Photos</label></td><td><input class="abaa"  type="file" class="form-control">
       <input class="abaa"  type="file" class="form-control"></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea class="abbb" ></textarea></td></tr><br><br>
     <th><b><label class="ah">Day 7</label></b></th>
      <tr><td><label class="af">Photos</label></td><td><input class="abaa"  type="file" class="form-control">
       <input class="abaa"  type="file" class="form-control"></td></tr><br><br>
    <tr><td><label class="af">Description</label></td><td><textarea class="abbb" ></textarea></td></tr><br><br>

</table><br><br>

<button class="abutton">Submit</button>

    </div>

