
<br><br>
<h4 class="ah ">Expenses</h4>
<br>
<table class="table ">
  <thead >
    <tr>
      <th scope="col">Fund Type</th>
      <th scope="col">Amount</th>
      <th scope="col">Accountant</th>
      <th scope="col">Date</th>
    </tr>
    <tbody class="atd">
      {{#each data}}
    <tr>
      <td>{{this.fund_type}}</td>
      <td>{{this.amount}}</td>
      <td>{{this.accountant}}</td>
      <td>{{this.date}}</td>
    </tr>
{{/each}}
  </thead>
</table>