
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


<table>
    <tr>
<td><select id="year-select"  onchange="getDetails(this.value)"  class="aaa">
        <option >Enrolment year</option>
       </select></td>
       
<td><button class="abutton1">View</button></td>
</tr>
</table>
<br><br><br><br>
<table class="table">
  <thead >
    <tr>
      <th scope="col"></th> 
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Course</th>
      <th scope="col">Programs</th>
      <th scope="col">Total Hrs</th>
    </tr>
  </thead>
  <tbody class="atd">
    {{#each data}}
    <tr>
      <th scope="row"></th>
      <td><img class="dimg" src="/images/photo/{{_id}}.jpg"></td>
      <td>{{data.name}}</td>
      <td>{{data.Course}}</td>
      <td>Blood Donation,Cleaning</td>
      <td>12Hrs</td>
    </tr>
    {{/each}}
   

</table>


<script type="text/javascript">
    window.onload = function () {
        //Reference the DropDownList.
        var ddlYears = document.getElementById("year-select");
 
        //Determine the Current Year.
        var currentYear = (new Date()).getFullYear();
 
        //Loop and add the Year values to DropDownList.
        for (var i = 2020; i <= currentYear; i++) {
            var option = document.createElement("OPTION");
            option.innerHTML = i;
            option.value = i;
            ddlYears.appendChild(option);
        }
    };
</script>