<div class="abc3 "><br><br>
     <table class="at">
        <tr>
       <tr><td><label class="af">Fund type</label> </td>  
      <td><select class="aba">
        <option >Fund type</option>
        <option >Normal</option>
       </select></td></tr><br><br>  
      <tr><td><label class="af">Amount</label></td><td><input class="aba" type="number" class="form-control" ></td></tr><br><br>
      <tr><td><label class="af">Date</label></td><td><input class="aba"  type="date" class="form-control"></td></tr><br><br>
    <tr><td><label class="af">Accountant</label></td><td><input class="aba" type="text" class="form-control" ></td></tr><br><br>
</table><br><br>

<button class="abutton">Submit</button>

    </div>

