<div class="abc11">
    <br><br>
    <input class="m2" type="date">
<br><br>
<div class="col">
    <select class="m1 ">
        <option >Camp Name</option>
        <option >Blood Donation</option>
       </select><br><br>
    </div><br>
    <div class="row ap">
    <div class="col">
      <input type="number" class="m3" placeholder="Year">
    </div>
    <div class="col">
      <input type="text" class="m4" placeholder="Category">
    </div></div>
      <div class="row ap" >
    <div class="col">
      <input type="number" class="m3" placeholder="Expence">
    </div>
    <div class="col">
      <input type="text" class="m4" placeholder="District">
    </div></div>
      <div class="row ap">
    <div class="col">
      <input type="text" class="m3" placeholder="Taluk">
    </div>
    <div class="col">
      <input type="text" class="m4" placeholder="Village">
    </div></div>
       <div class="row ap">
    <div class="col">
      <input type="text" class="m3" placeholder="Venue">
    </div>
    <div class="col">
      <input type="date" class="m4" placeholder="Starting Date">
    </div></div><br>
    <b><h5 class="ah1 ">Day 1 </h5></b>
       <div class="row ap">
    <div class="col">
      <input type="file" class="m3" >
    </div>
    <div class="col">
      <input type="file" class="m4" >
    </div></div>
    <textarea class="m" placeholder="   Description" ></textarea><br><br>
    <b><h5 class="ah1 ">Day 2 </h5></b>
       <div class="row ap">
    <div class="col">
      <input type="file" class="m3" >
    </div>
    <div class="col">
      <input type="file" class="m4" >
    </div></div>
    <textarea class="m" placeholder="   Description" ></textarea><br><br>
    <b><h5 class="ah1 ">Day 3 </h5></b>
       <div class="row ap">
    <div class="col">
      <input type="file" class="m3" >
    </div>
    <div class="col">
      <input type="file" class="m4" >
    </div></div>
    <textarea class="m" placeholder="   Description" ></textarea><br><br>
     <b><h5 class="ah1 ">Day 4 </h5></b>
       <div class="row ap">
    <div class="col">
      <input type="file" class="m3" >
    </div>
    <div class="col">
      <input type="file" class="m4" >
    </div></div>
    <textarea class="m" placeholder="   Description" ></textarea><br><br>
     <b><h5 class="ah1 ">Day 5 </h5></b>
       <div class="row ap">
    <div class="col">
      <input type="file" class="m3" >
    </div>
    <div class="col">
      <input type="file" class="m4" >
    </div></div>
    <textarea class="m" placeholder="   Description" ></textarea><br><br>
     <b><h5 class="ah1 ">Day 6 </h5></b>
       <div class="row ap">
    <div class="col">
      <input type="file" class="m3" >
    </div>
    <div class="col">
      <input type="file" class="m4" >
    </div></div>
    <textarea class="m" placeholder="   Description" ></textarea><br><br>
     <b><h5 class="ah1 ">Day 7 </h5></b>
       <div class="row ap">
    <div class="col">
      <input type="file" class="m3" >
    </div>
    <div class="col">
      <input type="file" class="m4" >
    </div></div>
    <textarea class="m" placeholder="   Description" ></textarea><br><br><br>
    
    
             <div class="form-check1">
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Manu Krishna</label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
  </div> <br>
            <div class="form-check1">
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Manu Krishna</label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
  </div><br>
  <div class="form-check1">
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Manu Krishna</label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
  </div><br>
  <div class="form-check1">
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Manu Krishna</label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
  </div><br><br><br>
    
  <button class="abutton2">Submit</button>

    </div>


</div>
