    <div class="abc9">
    <br><br>
    <form action="/po/po_camp_creation" method="post">

    <input name="date" class="m2" type="date">
<br><br>
<div class="col">
    <input name="camp_name" class="m1" type="text" placeholder="Camp Name"><br><br>
       <textarea name="description" class="m" placeholder="  Description"></textarea>
    </div><br><br>
    
    
  <button type="submit" class="abutton2">Submit</button>

    </div>

</form>
</div>
