<div class="abc8">
    <br><br>
    <form action="/po/po_camp_creation" method="post">
       
    <input class="m2" name="date" type="date">
<br><br>
 {{!--  --}}
      <input name="status" type="text" value="false" hidden>
    {{!--  --}}
<div class="col">
    
    <input name="camp_name" class="m1" type="text" placeholder="Camp Name"><br><br>
       
       <textarea name="description" placeholder="  Description" class="m"></textarea>
    </div><br><br>
    
             <div class="form-check1">
  <input class="form-check-input1 ck"  type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Manu Krishna</label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
  </div> <br>
            <div class="form-check1">
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Manu Krishna</label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
  </div><br>
  <div class="form-check1">
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Manu Krishna</label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
  </div><br>
  <div class="form-check1">
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Manu Krishna</label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input1 ck" type="checkbox" value="" id="flexCheckIndeterminate">
  <img class="acimg1" src="/images/a.jpeg">
  <label class="form-check-label1" >Muhamme Hilal M</label>
  </div><br><br><br>
    
 <input type="submit"  class="abutton2">

    </div>
</form>

</div>
