<table class="table">
  <thead >
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Camp Name</th>
      <th scope="col">Year</th>
      <th scope="col"> Category </th>
      <th> </th>
    </tr>
  </thead>
  <tbody class="atd">
    <tr>
      <th scope="row">1</th>
      <td><img class="dimg" src="/images/a.jpeg"></td>
      <td>Blood Donation</td>
      <td>2023</td>
      <td>Donation</td>
      <td> <a href="/po/po_camp_report_view"><button class="abutton">more</button></td></a>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td><img class="dimg" src="/images/a.jpeg"></td>
      <td>Blood Donation</td>
      <td>2023</td>
      <td>Donation</td>
      <td> <a href="/po/po_camp_report_view"><button class="abutton">more</button></td></a>
    </tr>
</table>