<h3 class="ah">Feedback </h3><br>
<table class="table ">
  <thead >
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Comments</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody class="atd">
    <tr>
      <th scope="row">Hilal</th>
      <td>Awsome</td>
      <td> *****</td></a>
    </tr>

     <tr>
      <th scope="row">Hilal</th>
      <td>Awsome</td>
      <td> *****</td></a>
    </tr>
</table>