<div class="abc3 ">
  <form action="/unicod/unicod_account" method="post">
     <table class="at">
        <tr>
     <td><label class="af">Institute Name</label></td>
       <td><select name="institute_name" class="aba">
        <option >Institute Name</option>
          {{#each data}}
        <option>{{this.institute_name}}</option>
        {{/each}}
       </select></td></tr><br><br>
       <tr><td><label class="af">Fund type</label></td><td><input required name="fund_type" class="aba" type="text" class="form-control" ></td></tr><br><br>  
      </td></tr><br><br>  
      <tr><td><label class="af">Amount</label></td><td><input required name="amount" class="aba" type="number" class="form-control" ></td></tr><br><br>
      <tr><td><label class="af">Date</label></td><td><input required name="date" class="aba"  type="date" class="form-control"></td></tr><br><br>
    <tr><td></td></tr><br><br>
</table><br><br>

<button class="abutton">Submit</button>
<input type="text" name="user_id" value="{{unicod_details.username}}" hidden>
</form>
    </div>

