<table>
    <tr>
<td><select class="aaa">
        <option >Enrolment year</option>
        <option >2021</option>
       </select></td>
       
<td><button class="abutton1">View</button></td>
</tr>
</table>
<br><br><br>
<table class="table">
  <thead >
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">College Name</th>
      <th scope="col">  </th>
    </tr>
  </thead>
  <tbody class="atd">
    <tr>
      <th scope="row">1</th>
      <td><img class="dimg" src="/images/a.jpeg"></td>
      <td>Hilal</td>
      <td>KTU</td>
      <td> <a href="/unicod/unicod_po_view"><button class="abutton1">more</button></td></a>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td><img class="dimg" src="/images/a.jpeg"></td>
      <td>Hilal</td>
      <td>KTU</td>
      <td> <a href="/unicod/unicod_po_view"><button class="abutton1">more</button></td></a>
    </tr>
   

</table>