<div class="abc3 ">
  <form action="/unicod/unicod_account" method="post">
     <table class="at">
        <tr>
     <td><label class="af">College Name</label></td>
       <td><select name="college_name" class="aba">
        <option value="University Name" >University Name</option>
        <option value="KTU" >KTU</option>
       </select></td></tr><br><br>
       <tr><td><label class="af">Fund type</label> </td>  
      <td><select name="fund_type" class="aba">
        <option value="fund type" >Fund type</option>
        <option value="normal" >Normal</option>
       </select></td></tr><br><br>  
      <tr><td><label class="af">Amount</label></td><td><input name="amount" class="aba" type="number" class="form-control" ></td></tr><br><br>
      <tr><td><label class="af">Date</label></td><td><input name="date" class="aba"  type="date" class="form-control"></td></tr><br><br>
    <tr><td><label class="af">Accountant</label></td><td><input name="accountant" class="aba" type="text" class="form-control" ></td></tr><br><br>
</table><br><br>

<button class="abutton">Submit</button>
</form>
    </div>

