<div class="abc2 ap">
    <div >
        <center>
        <form action="/unicod/unicod_message" method="post">
    <h4 class="ah ">Message to all Program Officers </h4><br><br><br>
   </center></div>
      <select name="to" class="am">
      <option value="manu" >Program Officer</option>
        {{#each data}}
        <option  >{{this.name}}</option>
        {{/each}}    
      </select><br><br><br> 
      <textarea name="message" class="am" ></textarea><br><br>

      <button type="submit" class="abutton">Send</button>
    </div>
    </form>
</div>
</div>

